*{font-size:16px;}

/* 主体开始 */
.main_top{
    width:100%;
    position:fixed;
    top:0px;
    z-index:90; 
    background:#fff;
}
.mtop_box{
    width:1808px;
    margin:0 auto;
    padding-top:26px;
    padding-bottom:34px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-left:8px;
    padding-right:8px;
}
.mtop_h{
    font-size:24px;
    font-weight:500;
    padding:0 20px;
    margin-right:100px;
}
.mtop_fa{
    margin-top:12px;
    width:auto;
    text-align:center;
}
.mtop_fa>li{
    float:left;
}
.mtop_son{
    margin-right:16px;
}
.mtop_son>a{
    color:#111;
    font-size:16px !important;
    font-weight:500;
    display:block;
}
.mtop_son>a:hover{
    color:#dedede;
}
.mtop_son2{
    margin-right:16px;
    margin-left:16px;
}
.mtop_son2>a{
    color:#111;
    font-size:16px !important;
    font-weight:500;
    display:block;
}
.mtop_son2>a:hover{
    color:#dedede;
}
.mtop_son3{
    margin-left:16px;
}
.mtop_son3>a{
    color:#111;
    font-size:16px !important;
    font-weight:500;
    display:block;
}
.mtop_son3>a:hover{
    color:#dedede;
}
.mtop_hi{
    display:block;
    overflow:hidden;
    margin-left:100px;
    height:0;
    margin-right:0;
   
    width:175px;
}
.main_ban{
    width:1792px;
    height:700px;
    background:#fcc;
    margin:0 auto;
   margin-top:93px;
}
.ban_text{
    width:1344px;
    position:absolute;
    left: 94px;
    bottom:180px;
    height:233px;
}
.btext_one{
    margin-bottom:8px;
    color:#fff;
    font-weight:600;
    font-size:72px;
}
.btext_two{
    color:#fff;
    font-size:20px;
}
.btext_btn{
    margin-top:18px;
    width:120px;
    height:40px;
    border-radius:20px;
    line-height:40px;
    text-align:center;
    color:#000;
    background:#fff;
    font-size:16px;
    cursor:pointer;
}
.btext_btn:hover{
    background:#dedede;
}


/* 主体中开始 */
.main_center{
    margin-top:84px;
    width:1808px;
    height:764px;
    margin-left:auto;
    margin-right:auto;
}
.mcenter_top{
    width:100%;
    height:40px;
    margin-bottom:24px;
    line-height:40px;
    font-size:24px;
    font-weight:500;
    padding-left:8px;
}
.cont_wid{
    width:1808px;
}
.mcenter_xm{
    margin-left:8px;
    margin-right:8px;
    height:700px;
    background:#cfc;
    width:888px;
}
.mcenter_xm2{
    margin-left:8px;
    margin-right:8px;
    height:700px;
    background:#dedede;
    width:888px;
}
.mcenter_posi{
    width:666px;
    height:88px;
    position:absolute;
    bottom:36px;
    left:36px;
}
.mcenter_p{
    height:24px;
    width:100%;
    line-height:24px;
    color:#111;
    font-size:18px;
    font-weight:500;
    margin-bottom:4px;
}
.mcenter_btn{
    width:120px;
    height:40px;
    margin-top:24px;
    margin-right:6px;
    border-radius:20px;
    background:#111;
    line-height:40px;
    text-align:center;
    color:#fff;
    cursor:pointer;
}
.mcenter_btn:hover{
    background:#999;
}
.mlast_top{
    margin-bottom:24px;
    color:#111;
    font-size:24px;
    font-weight:500;
    height:40px;
    line-height:40px;
    margin-top:84px;
    width:200px;
    padding-left:50px;
}
.mcenter_last{
    width:1808px;
    margin-left:auto;
    margin-right:auto;
    background:#8d3ab2;
    height:700px;
}
.mlast_bot{
    width:1075px;
    height:172px;
    margin:36px auto 0 auto;
}
.mlast_one{
    color:#111;
    width:100%;
    height:72px;
    line-height:72px;
    text-align:center;
    font-size:72px;
    font-weight:500;
    margin-bottom:8px;
    cursor:pointer;
    display:block;
}
.mlast_two{
    color:#111;
    width:100%;
    height:24px;
    line-height:24px;
    text-align:center;
    cursor:pointer;
    font-weight:400;
    font-size:20px;
}
.mlast_btn{
    margin-top:24px;
    width:120px;
    height:40px;
    border-radius:20px;
    background:#111;
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    line-height:40px;
    cursor:pointer; 
}
.mlast_btn:hover{
    background:#999;
}
.mlast_oo{
    display:none;
}
.mbot{
    width:1808px;
    height:1016px;
    position:relative;
    margin:0 auto;
}
.mbot_one{
    width:888px;
    height:1016px;
    position:absolute;
    left:0;
    top:0;
}
.bot_text{
    height:24px;
    line-height:24px;
    font-size:16px;
    font-weight:500;
    position:absolute;
    left:36px;
    bottom:18px;
    color:#fff;
}
.mbot_two{
    width:888px;
    height:500px;
    position:absolute;
    top:0;
    right:0;
}
.bot_text2{
    height:24px;
    line-height:24px;
    font-size:16px;
    font-weight:500;
    position:absolute;
    left:36px;
    bottom:30px;
    color:#fff;
}
.mbot_thr{
    width:888px;
    height:500px;
    position:absolute;
    top:516px;
    right:0;
}
.bot_text3{
    height:24px;
    line-height:24px;
    font-size:16px;
    font-weight:500;
    position:absolute;
    left:36px;
    bottom:30px;
    color:#fff;
}
.mbot_one img{
    width:888px;
    height:1016px;
}
.mbot_two img{
    width:888px;
    height:500px;
}
.mbot_thr img{
    width:888px;
    height:500px;
}
.mbot_nav{
    width:920px;
    height:192px;
    padding:0 20px;
    margin:84px auto 0;
    overflow:hidden;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    transition:all .7s;
}
.bnav_h{
    margin-bottom:24px;
    font-size:16px;
    height:24px;
    line-height:24px;
    width:184px;
    color:#111;
    font-weight:500;
}
.bnav_text{
    height:24px;
    line-height:24px;
    width:184px;
    font-size:16px;
    color:#757575;
    cursor:pointer;
    margin-bottom:12px;
}
.bnav_text:hover{
    color:#111;
}



/* 媒介查询 */
@media (max-width: 1024px) {

}

@media (max-width:767px) {
    .mtop_box{
        width:100%;
        padding-left:0;
        padding-right:0;
    }
    .mtop_fa{
        padding:0 20px;
    }
    .main_ban{
        width:413px;
        height:668px;
    }
    .ban_text{
        width:349px;
        height:144px;
        left:36px;
        bottom:-30px;
        background:#fff;
    }
    .btext_one{
        font-size:48px;
        color:#111;
    }
    .btext_two{
        font-size:16px;
        color:#111;
    }
    .btext_btn{
        background:#111;
        color:#fff;
    }
    .btext_btn:hover{
        background:#c9c9c9;
    }
    .main_center{
        width:100%;
        height:1072px;
        margin-top:220px;
        padding-left:28px;
    }
    .cont_wid{
        width:100%;
        height:1072px;
    }
    .mcenter_xm{
        width:397px;
        height:500px;
    }
    .mcenter_xm2{
        width:397px;
        height:500px;
        margin-top:20px;
    }
    .mcenter_posi{
        width:100%;
    }
    .mcenter_last{
        width:397px;
        height:500px;
    }
    .mlast_bot{
        width:397px;
        height:216px;
    }
    .mlast_one{
        display:none;
    }
    .mlast_oo{
        color:#111;
        width:100%;
        height:48px;
        line-height:48px;
        font-size:48px;
        font-weight:500;
        margin-bottom:8px;
        cursor:pointer;
        display:block;
    }
    .mlast_two{
        font-size:16px;
        text-align:left;
        width:260px;
        height:48px;
    }
    .mlast_btn{
        margin-top:18px;
        float:left;
    }
    .mbot{
        width:413px;
        height:1580px;
        margin:0 auto;
    }
    .mbot_one{
        width:397px;
        height:500px;
        top:0;
        left:14px;
    }
    .mbot_one img{
        width:397px;
        height:500px;
    }
    .mbot_two{
        width:397px;
        height:500px;
        top:520px;
    }
    .mbot_two img{
        width:397px;
        height:500px;
    }
    .mbot_thr{
        width:397px;
        height:500px;
        top:1040px;
    }
    .mbot_thr img{
        width:397px;
        height:500px;
    }
    .mbot_nav{
        width:369px;
        overflow:visible;
    }
    .bnav_h{
        cursor:pointer;
    }
    #m_son{
        display:none;
        transition:all .7s;
    }
}


@media screen and (min-width:320px) {
    .main_ban{
        width:310px;
        height:668px;
    }
}

@media screen and (min-width:360px) {
    .main_ban{
        width:320px;
        height:668px;
    }
    .ban_text{
        width:278px;
        height:144px;
        left:36px;
        bottom: -260px;
    }
    .btext_one{
        font-size:36px;
    }
    .btext_two{
        font-size:14px;
    }
}

@media screen and (min-width:375px) {
    .ban_text{
        bottom:-140px;
    }
}

@media screen and (min-width:411px) {
    .ban_text{
        bottom:-188px;
    }
}

@media screen and (min-width:414px) {
    .main_ban{
        width:374px;
        height:668px;
    }
    .ban_text{
        bottom:-190px;
    }
}

@media screen and (min-width:480px) {
    .main_ban{
        width:413px;
        height:668px;
    }
    .ban_text{
        bottom:-60px;
    }
}

@media screen and (min-width:540px) {
    
}

@media screen and (min-width:640px) {
    
}

@media screen and (min-width:720px) {
   
}

@media screen and (min-width:768px) {
    .main_ban{
        width:744px;
        height:668px;
    }
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width:1200px) {
    .main_ban{
        width:1792px;
        height:700px;
        background:#fcc;
        margin:0 auto;
       margin-top:93px;
    }
    .ban_text{
        width:1344px;
        position:absolute;
        left: 94px;
        bottom:120px;
        height:233px;
    }
    .btext_one{
        margin-bottom:8px;
        color:#fff;
        font-weight:600;
        font-size:72px;
    }
    .btext_two{
        color:#fff;
        font-size:20px;
    }
    .btext_btn{
        margin-top:18px;
        width:120px;
        height:40px;
        border-radius:20px;
        line-height:40px;
        text-align:center;
        color:#000;
        background:#fff;
        font-size:16px;
        cursor:pointer;
    }
    .btext_btn:hover{
        background:#dedede;
    }
}